site_name: OptVL Docs

## Repository
repo_name: optvl
repo_url: https://github.com/joanibal/OptVL
edit_uri: https://github.com/joanibal/OptVL/edit/main/docs

nav:
  - Home: index.md
  - Installation: installation.md
  - Overview: overview.md
  - Analysis:
      - making_a_script.md
      - optvl_api.md
      - v1_to_v2_changes.md
      - optvl_changes_from_avl.md
      - alpha_cl_sweep.md
      - modal_analysis.md
      - parameter_sweeps.md
  - Optimization:
      - optimization_overview.md
      - optimization_setup_scipy.md
      - optimization_setup_om.md
      - planform_optimization.md
  - Visualization:
      - viz_overview.md
      - sectional_data_viz.md
      - making_a_movie.md
  - Development:
      - dev_docs.md
      - common_development_tasks.md
      - building_optvl_locally.md
      - pyavl_changes.md  
  # defer to gen-files + literate-nav
  - Code Reference: reference/  

watch:
  - optvl

theme:
  name: material

## Plugins
plugins:
  - search:
      # This mess was copied from the example website
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - gen-files:
      scripts:
      - docs/gen_ref_pages.py  # 
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
  - literate-nav:
      nav_file: SUMMARY.md

  - include-markdown
      
markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
      toc_depth: 1-3
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


extra:
  analytics:
    provider: google
    property: G-FRCNFMY9DQ